/* RESETS */

:root {
  --white: hsl(0, 0%, 100%);
  --Very-dark-purple: rgb(41, 1, 46);
  --secondary: hsl(237, 12%, 33%);
  --light-cream: rgb(219, 199, 218);
  --primary-accent: hsl(14, 88%, 65%);
  --font-size-very-small: 0.725rem;
  --font-size-small: 1.25rem;
  --font-size-mid: 2.5rem;
  --font-size-large: 4rem;
  --font-weight-thing: 100;
  --font-weight-reg: 400;
  --font-weight-bold: 700;
  --rounded: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}

body {
  /* width: 100%; */
  margin: 0;
  font-family: Poppins;
  color: var(--white);
  background-image: url("images/bg-img.webp");
  background-size: cover;
}

/*END RESETS*/
/* __________________________UTILITY CLASSES___________________ */

h3 {
  text-align: center;
  color: var(--white);
  font-size: var(--font-size-large);
}

/*__________________________-MOBILE FISRT___________________ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border: 2px solid red; */
 
 }


.todo-header-wrapper {
  width: 100%;
  padding: 2rem 0 3rem 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
}

.todo-header-wrapper h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: var(--light-cream);
  font-size: var(--font-size-large);
  background-color: var(--Very-dark-purple);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.todo-header-wrapper img{

  max-width: 30px;
  margin-left: 10px;
}


.task-wrapper {
  width: 100%;
  padding: 10rem;
  /* border: 5px solid rgb(0, 11, 128); */
}
/*_____________________________________form styling_________________________   */
.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem auto;
  text-align: center;
  /* css glass effect */
  background: rgba(255, 255, 255, 0.23);
  border-radius: var(--rounded);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}
 

.form-container h2 {
  padding: 1rem;
}

.form-container input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  /* padding: 5px; */
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
  border-left: 5px solid rgb(253, 19, 242);
  background-color: rgb(254, 241, 254);
}

input::-webkit-input-placeholder {
  color: #770615;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-reg);
}

/*____________________________buttons styling_____________________*/

#add-btn {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-reg);
  color: var(--primary-accent);
  padding: 5px;
  margin-left: 1rem;
  background-color: var(--white);
  border: none;
  border-radius: 3px;
  border-right: 5px solid rgb(253, 19, 242);
  height: 20px;
  cursor: pointer;
}

 
/* _________________________task styling_________________ */
.task-list-container {
  width: 100%;
  color: var(--white);
  font-size: var(--font-size-small);
  /* css glass effect */
  background: rgba(255, 255, 255, 0.23);
  border-radius: var(--rounded);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

.task-list-wrapper {
  padding: 2rem;
  margin: 0 auto;
}
 
 

 
 /* _______________________NEW TASK STYLING ___________ */

ul li {
  /* text-align: left; */
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  font-size: 12px;
  padding: 12px 8px 12px 35px;
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid #dfd4d4;
  position: relative;
}

/* adding check box before the list */
ul li::before{
   content: '';
   position: absolute;
   height: 20px;
   width: 20px;
   border-radius: 50px;
   background-image: url("images/unchecked.png") ;
   background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
   /* background-color: #ff5945; */
}

ul li.checked {
   color: #fff;
   text-decoration: line-through;     
}

ul li.checked::before {
  background-image: url("images/checked.png");
}
 




/* ______________ JS CLASS _____________ */

ul li img {
  position: absolute;
  right: 0;
  top: 30%;
  max-width: 3rem;
  flex-grow: 1;

}

ul li img:hover{
  cursor: pointer;
}

/* _______________________-MEDIA QUERIES________________________-- */
@media screen and (max-width: 600px) {
  .task-wrapper {
    width: 100%;
    /* max-width: 40rem; */
    /* padding: 1rem; */
    padding: 20px;
    box-sizing: border-box;
  }
}

